@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#header {
    width: 100%;
    padding-left: 10%;
    padding-top: 0.9rem;
    height: 5rem;
    background-color: #02A28F;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2rem;
}