@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

h3 {
    font-size: 0.8rem;
    font-weight: 700;
}

.background-primary {
    background-color: #02A28F;
}

header {
    padding-left: 10%;
    padding-top: 0.9rem;
    height: 5rem;
    color: #FFFFFF;
    margin-bottom: 4rem;
}

main {
    width: 100%;
    height: 100vh;
}

#primary-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

figure {
    width: 67rem;
    height: 35rem;
}

figure img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

.popular-posts {
    display: grid;
    width: 30rem;
    height: 10rem;
    gap: 1rem;
    border-radius: 0.8rem;
}

.card__title {
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    width: 30rem;
    height: 3rem;
}

.popular-posts__item {
    display: flex;
    gap: 1rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    padding: 0.8rem 1rem;
    margin-top: 1rem;
}

.popular-posts__cards h2 {
    font-size: 0.8rem;
    font-weight: 700;
}

.popular-posts__cards p {
    font-size: 0.6rem;
    font-weight: 500;
    color: #616161;
    margin-top: 0.2rem;
}

#second-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container {
    width: 67rem;
    height: 56rem;
}

.container .card__title {
    width: 100%;
}

.recent-posts__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer {
    width: 100%;
    height: 3rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}